@{
    ViewBag.Title = "Home Page";
}
<h2>Translate to English/French</h2>
<div class="row d-flex align-item-stretch padding-top-30">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputText">Please enter text to translate</label>
            <textarea class="form-control" id="inputText" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group col-md-4 d-flex flex-wrap">
        <div class="w-full">
            <label for="languageCode">Please select language</label>
            <select class="form-control" id="languageCode">
                <option value="fr">French</option>
                <option value="En">English</option>
            </select>
        </div>
        <button id="btnSubmit" class="btn btn-primary">Translate</button>
    </div>
    <div class="col-md-4">
        <label for="translatedText">Translated text</label>
        <textarea class="form-control" id="translatedText" rows="5" disabled></textarea>

    </div>
</div>

<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/View_js/Index.js")"></script>
